.red {
    background-color: #FE0000;
}

.orange {
    background-color: #FF9A01;
}

.yellow {
    background-color: #FFFF00;
}

.green {
    background-color: #17FE00;
}

.blue {
    background-color: #0395FE;
}

.purple {
    background-color: #671FFF;
}

.black {
    background-color: black;
}

.pink {
    background-color: #FE96FE;
}

.lilac {
    background-color: #F8299E;
}

.grey {
    background-color: #999999;
}

.white {
    background-color: white;
}

.lightyellow {
    background-color: #FDD08A;
}

.lightpink {
    background-color: #FF9898;
}