.red {
    background-color: red;
}

.orange {
    background-color: #FF6900;
}

.yellow {
    background-color: #FFD700;
}

.green {
    background-color: #01FF21;
}

.blue {
    background-color: #0094FF;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.pink {
    background-color: #FE89BB;
}

.lilac {
    background-color: #AB51FF;
}

.grey {
    background-color: grey;
}

.white {
    background-color: white;
}

.lightyellow {
    background-color: #FEE97F;
}